# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Coverage
coverage/

# Build Files
dist/